<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Home Page</title>
</head>

<body>
    <nav>
        <div class="branding">
            <span class="brand-name">ADC</span>
        </div>
        <div class="nav-bar">
            <ul class="nav-menu">
                <li>
                    <span id="home">Home</span>
                </li>
                {% if user %}
                <li>
                    <span class=logoutButton>Logout</span>
                </li>
                {% else %}
                <li>
                    <span class="logButton">Login/Register</span>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="hr-line"></div>
    </nav>
    <main id="main">
        <div class="heading">
            <span>Web Authentication</span>
        </div>
        {% if user %}
        <div class="login-container">
            <span>Hey {{user.name}}!, You loggedin successfully. Your user id is {{user.username}}.</span>
        </div>
        {% else %}
        <div class="container">
            <span>This webapp will demonstrates to you how to make users able to login, logout
                and register. Your username will be your <b>email id</b> .
            </span>
        </div>
        {% endif %}
    </main>
    <footer>
        <span>Made with <span class="heart">&#10084;</span> by <a href="https://www.linkedin.com/in/devamanin/"
                class="footer-link">@aman</a></span>
    </footer>
    <script src="/static/script.js"></script>
</body>

</html>